CompileFlags:
  Add:
    - -ID:\Keil_v5\ARM\ARMCLANG/include
    - -ID:\Keil_v5\ARM\ARMCLANG/include/libcxx
  Remove: []
  CompilationDatabase: ./build/f407_rtthread_bsp
  Compiler: D:\Keil_v5\ARM\ARMCLANG\bin\armclang.exe
